@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("https://solorussia.com/dist/fonts/AvenirNextCyr-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("https://solorussia.com/dist/fonts/AvenirNextCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("https://solorussia.com/dist/fonts/AvenirNextCyr-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: AvenirNextCyr;
  font-display: swap;
  src: url("https://solorussia.com/dist/fonts/AvenirNextCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
